html {border:0;
padding: 0; }

header

main

article

footer

aside

@font-face {
    font-family: ;
    src: url();
}

/* couleur du texte sélectionné */ 

::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
  }
  
  ::selection {
    color: red;
    background: yellow;
  }

  